<table>
    <tr>
      <td>
        <input type="text" name="date_from" id="date_from" size="10" value="" class="hasDatepicker">
        <%= image_tag("calendar.png", class: "ui-datepicker-trigger", title: "...", alt: "...") %>
      </td>
    </tr>
</table>