<h3 class="template"><%= t(:reports) %></h3>
<%= link_to t(:all_report), project_issues_report_path(@project), :id => 'issue_report' %><br>
<%= link_to t(:average_age_report), project_issues_average_age_report_path(@project), :id => 'average_age_report' %><br>
<%= link_to t(:created_vs_resolved_issues_report), project_issues_created_vs_resolved_issues_report_path(@project), :id => 'created_vs_resolved_issues_report' %><br>